#map-canvas {
   margin: 0;
   padding: 0;
   height: 400px;
   max-width: none;
}
#map-canvas img {
   max-width: none !important;
}

.bq3 { 
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #a5a4a4;
	font-style: italic;
	margin: 30px;
	padding: 30px;
	text-align: center;
	font-size: 2em;

}
#quotes{
	height: 300px;
	width: 100%;
	
}

